<div class="filter_container">
  <h3>Filters</h3>
  <h4>Launch Year</h4>
  <div class="year_conatainer">
    <mat-chip-list aria-label="Fish selection" (click)="selectedYear($event)">
      <mat-chip
        [selected]="item.selectable"
        *ngFor="let item of years"
        (click)="selectedYear(item)"
        >{{ item.year }}</mat-chip
      >
    </mat-chip-list>
  </div>
  <div class="year_conatainer">
    <h4>Successfull Launch</h4>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        [selected]="launch.selectable"
        *ngFor="let launch of isSuccessFullLaunc"
        (click)="successfullLaunch(launch)"
        >{{ launch.value }}</mat-chip
      >
    </mat-chip-list>
    <h4>Successfull Landing</h4>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        [selected]="launch.selectable"
        *ngFor="let launch of isSuccessLand"
        (click)="successfullLanding(launch)"
        >{{ launch.value }}</mat-chip
      >
    </mat-chip-list>
  </div>
  <button mat-button color="warn" (click)="resetFilter()">Reset Filter</button>
</div>
